body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

canvas {
  background-color: white;
  border: 2px solid black;
}

#score,
#highScore {
  font-size: 20px;
  margin-top: 10px;
  color: black;
  font-weight: bold;
}
